<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-adminbg bg-cover bg-no-repeat backdrop-blur-md">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 shadow-xl rounded-lg max-w-md w-full border border-solid">
            <h1 class="text-3xl font-bold text-center text-gray-800">Admin Login</h1>
            <form class="mt-6" action="/admin/login" method="POST">
                <div class="mb-4">
                    <label for="username" class="block text-gray-600 text-sm">Username</label>
                    <input type="text" id="username" name="username" class="form-input w-full mt-1 px-3 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 border" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-600 text-sm">Password</label>
                    <input type="password" id="password" name="password" class="form-input w-full mt-1 px-3 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 border" required>
                </div>
                <div class="mb-4 flex items-center">
                    <input type="checkbox" id="remember" name="remember" class="form-checkbox text-blue-500">
                    <label for="remember" class="ml-2 text-gray-600 text-sm">Remember Me</label>
                </div>
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
