<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email OTP Verification</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">
</head>
<body class="font-[Montserrat] bg-gradient-to-r from-blue-400 to-indigo-600 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <div class="flex justify-center">
        </div>
        <h2 class="text-2xl md:text-3xl font-semibold text-gray-800 text-center my-6">Verify Your Account</h2>

        <!-- OTP Verification Form -->
        <form action="/forgotPassword" method="post">
            <div class="mb-4">
                <label for="email" class="block text-gray-600 text-sm mb-2">Enter your email address:</label>
                <input type="email" id="email" name="email" placeholder="Enter Email" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500" autofocus="" autocomplete="" required="">
            </div>
            <button type="submit" id="sendOTPButton" class="w-full bg-indigo-500 hover:bg-indigo-600 focus:bg-indigo-600 text-white font-semibold rounded-md px-4 py-3 mt-3 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg focus:outline-none">Send OTP</button>
        </form>
    </div>
</body>
</html>


