<!DOCTYPE html>
<html>
<head>
    <title>Payment Page</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <p>Shirt</p>
    <p>Amount: $500</p>
    <form class="pay-form">
        <input type="hidden" name="name" value="Shirt">
        <input type="hidden" name="amount" value="500">
        <input type="hidden" name="description" value="Shirt Buying">
        <input type="submit" value="Pay Now">
    </form>
</div>
<script>
    $(document).ready(function(){
        $('.pay-form').submit(function(e){
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: '/createOrder',
                type: 'POST',
                data: formData,
                success: function(res) {
                    if (res.success) {
                        var options = {
                            key: res.key_id,  // Replace with your Razorpay Key
                            amount: res.amount,
                            currency: "INR",
                            name: res.product_name,
                            description: res.description,
                            image: 'https://yourcompany.com/logo.png', // Replace with your logo URL
                            order_id: res.order_id,
                            handler: function (response) {
                                alert('Payment successful');
                            },
                            prefill: {
                                name: res.name,
                                email: res.email,
                                contact: res.contact
                            }
                        };
                        var rzp = new Razorpay(options);
                        rzp.open();
                    } else {
                        alert('Error creating order: ' + res.msg);
                    }
                }
            });
        });
    });
</script>
</body>
</html>
